@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    @Styles.Render("~/Content/DashboardCss")
}
@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7gDxA9BImm7yWdLrU8OGGC21jSFr2LIo&libraries=visualization"></script>
    @Scripts.Render("~/Scripts/MainScripts")
    <script type="text/javascript">
        $(function() {
            $('.date-picker').datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
        $(function () {
            $("#slider").slider({
                range: "min",
                value: 50,
                min: 10,
                max: 700,
                step: 10,
                slide: function (event, ui) {
                    $("#Radius").val(ui.value);
                }
            });
            $("#Radius").val($("#slider").slider("value"));
        });
    </script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/drilldown.js"></script>
}

<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li>
                <form class="navbar-form" method="GET">
                    <input class="form-control" id="ZipCode" name="ZipCode" placeholder="Search zip..." type="text" value="">

                    <label for="Brand" class="">Select Brand</label>
                    <select class="form-control" id="Brand" name="Brand"></select>

                    <label for="City">Select City</label>
                    <select class="form-control" id="City" name="City"></select>

                    <label for="State">Select State</label>
                    <select class="form-control" id="State" name="State"></select>

                    <input class="date-picker form-control hasDatepicker form-margin" data-val="true" data-val-date="The field DateBefore must be a date." data-val-required="The DateBefore field is required." id="DateBefore" name="DateBefore" placeholder="Date Before" type="text" value="">
                    <input class="date-picker form-control hasDatepicker form-margin" id="DateAfter" name="DateBefore" placeholder="Date Before" type="text" value="">

                    <label for="Radius">Select Radius</label>
                    <div class="row">
                        <div class="col-md-3">
                            <input class="form-control" id="Radius" disabled="disabled"/>
                        </div>
                        <div class="col-md-9">
                            <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 5.7971%;"></div>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 5.7971%;"></span>
                            </div>
                        </div>
                        
                    </div>
                    
                    <button type="submit" class="btn btn-default" style="margin-top: 10px;">Search</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="navigator">
        <!--mini-navigator-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 text-center mini-navigator">
            <button class="btn btn-primary navigator-btn active" id="mapSelect">Map</button>
            <button class="btn btn-primary navigator-btn" id="tableSelect">Table</button>
            <button class="btn btn-primary navigator-btn" id="chartSelect">Charts</button>
        </div>
    </div>
    <div class="row full-row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="mapDiv" style="display: block;">
            <div id="panel">
                <!--Overlay-->
                <button onclick="toggleHeatmap()" class="btn btn-primary">Toggle Heatmap</button>
                <button onclick="changeGradient()" class="btn btn-primary">Change gradient</button>
                <button onclick="changeRadius()" class="btn btn-primary">Change radius</button>
            </div>
            <div id="map-canvas">l</div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tableDiv" style="display: none;">
            <!--Table Information-->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main full-row" id="chartDiv" style="display: none;">
            <div class="row" id="pieCharts" style="height: 50%;">
                <!--Chart Information-->
                <div class="col-md-6" id="byBrandPie">l</div>
                <div class="col-md-6" id="byYearPie">l</div>
            </div>
            <div class="row" id="lineChart" style="height: 50%;">
                <div class="col-md-12" id="overTime">l</div>
            </div>
        </div>
    </div>

</div>