.sidebar {
  display: none;
}

#media-search {
	display: none;
	margin-top: 20px;
}

html, body, .body-content, .main, #map-canvas {
	height: 100%;
}
@media (max-width: 768px) {
	#media-search {
		display: block;
		margin-left: 10px;
		margin-top: 10px;
	 }
	 .main {
		 height: calc(100% - 85px)
	 }
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
	 
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.full-row {
    height: Calc(100% - 44px);
}

.main {
	padding: 0 0 0 0;
}
.btn-primary.active {
    background-color: #2B4E8D;
    border-color: #2544A1;
}

.navbar-inverse {
    background-color: #222;
}
.mini-navigator {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}
.navigator {
    height: inherit;
}
.navigator-btn {
    margin-left: 4%;
    padding-left: 3%;
    padding-right: 3%;
}

.row-container {
    height: Calc(100% - inherit);
}